<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlantPals</title>
</head>
<body>
  {{{body}}}
</body>
</html>

{{!-- I don't think the data dump for body should be here as this is what you want to appear on all pages!! --}}