<div class="row">
  {{#each plants as |plant|}}
    <div class="col-md-6 col-sm-12">
      <div class="card mb-3" style="background-color: transparent; border: none;">
        <div class="row g-0">
          <div class="col-md-4">
            <h5 class="card-title" style="text-align: center;">{{plant.plant_name}}</h5>
            <a href="/plant/{{plant.id}}"> <!-- Dynamic link to the description page -->
              <img src="/images/{{plant.image_filename}}" class="img-fluid rounded-start" alt="{{plant.plant_name}}" />
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
          </div>
        </div>
      </div>
    </div>

  </div>

  {{/each}}
</div>