<link rel="stylesheet" href="/css/profile.css">


<div class="row">
  {{#each plants as |plant|}}
    <div class="col-md-6 col-sm-12">
      <div class="plant-container" >
        <h3 class="plant-title" style="text-align: center;">{{plant.plant_name}}</h3>
        <a href="/plant/{{plant.id}}" style="display: flex; align-items: center; justify-content: center;" >
         <img src="/images/{{plant.image_filename}}" class="img-fluid plant-image" alt="{{plant.plant_name}}"/>
        </a>
      </div>
    </div>
  {{/each}}
</div>