<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/individual-plant.css">

<body>

  <header>
    <h1>Indoor Plants</h1>
  </header>

  <main class="container">
    <div class="row">
      {{#each plants as |plant|}}
        <div class="col-md-6 col-sm-12">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{plant.plant_name}}</h5>
              <a href="/plant/{{plant.id}}">
                <img src="{{plant.image_url}}" class="img-fluid rounded-start" alt="{{plant.plant_name}}" />
              </a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </main>
</body>