<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/homepage.css ">
<link rel="stylesheet" href="/css/profile.css">

<h2>Welcome to your garden, {{username}}</h2>
<p>Email: {{email}}</p>
<!-- Add more user details as needed -->