<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/profile.css">

<h3>Welcome to your garden, {{username}}!</h2>

<div class="dashboard-container">
  <p class="dashboard-text"> <b>Your Dashboard:</b></p>
</div>

<div class="dashboard-background">
  <p class="card-text"> <b>Time to Plant:</b></p>
</div>

<div class="dashboard-background">
  <p class="card-text"> <b>Time to Water:</b></p>
</div>

<div class="dashboard-background">
  <p class="card-text"> <b>Time to Harvest:</b></p>
</div>

<!-- Add more user details as needed -->