/* main {
  display: flex;
}

#login-form-section,
#signup-form-section {
  border: solid;
  border-width: 2px;
  border-color: rgb(173, 134, 83);
  border-radius: 10px;
  width: auto;
  height: auto;
}

.form {
  display: block;
  justify-content: center;
}

h3 {
  text-align: center;
  margin: 1%;
}

.form-group {
  margin-bottom: 10px;
  margin-left: 200px;
}

.form-group label {
  display: block;
  margin-bottom:  5px;
}

.form-title {
  margin-bottom: 80px;
}

.OR {
  margin-top: 250px;
} */

.form-container {
  border: solid;
  border-color: rgb(173, 134, 83);
  border-radius: 10px;
  border-width: 2px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: auto;
  height: auto;
}

.form {
  display: block;
  justify-content: center;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  /* margin: 10px; */
  /* width: auto;
  height: auto; */
}

.form-group {
  margin-bottom: 30px;
}

.OR {
  text-align: center;
}

.form-title {
  margin-top: 5%;
}