body {
background-image: url("../images/flower.png");
background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* 
.container {
  width: 50%;
} */

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 4px 4px 8px #dcb50a8d;
}

.card-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bolder;
}
