body {
background-image: url("../images/flower.png");
background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1%;
  border-radius: 25px;
  border-color: rgb(173, 134, 83);
  border-style: dotted;
  border-width: 7px;
}

h1 {  
  font-size: 70px;
}

h1, 
header p {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  text-shadow: 4px 4px 8px #dcb50a8d
}

/* header p {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
} */

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  list-style: none;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

nav ul li a::before,
nav ul li a::after {
  content: '\2055';
  margin-top: 10px;  
}




main {
  /* display: flex; */
  font-family: 'Playfair Display', serif;
  padding: 1%;
  border-radius: 25px;
  border-color: rgb(173, 134, 83);
  border-style: dotted;
  border-width: 7px;
  margin-top: 0;
}



.card-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bolder;
}

.plant-image {
  width: 75%;
  height: 300px;
  object-fit: cover;
}

h3 {
  color: green;
  font-size: 40px;
  font-weight:bolder
}

a {
  color: rgba(216, 144, 72, 0.686);
  font-size: 120%
}

/* a::hover {
  color: black;
} */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.btn {
  color: rgba(216, 144, 72, 0.686);
  font-size: 115%;
  margin-top: -10px;
  margin-left: 70px;
}

/* Common styles for all screen sizes */
.card {
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.5rem;
}

/* Media query for tablets (e.g., iPad) */
@media (max-width: 768px) {
  .card {
    width: 100%; /* Make cards full-width on smaller screens */
  }

  nav ul {
    flex-direction: column; /* Stack menu items vertically on smaller screens */
  }
}

/* Media query for smartphones */
@media (max-width: 576px) {
  .card-title {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }
}