.btn {
  color: rgba(216, 144, 72, 0.686);
  font-size: 115%;
  margin-top: -10px;
  margin-left: 70px;
}

.btn::before,
.btn::after {
  content: '\2055';
}

.card-text {
  font-size: 20px;
}

.dashboard-text {
  font-size: 30px;
  margin-left: 15px;
}

.dashboard-background {
  background-color: rgba(182, 249, 141, 0.5);
  margin: 1%;
  padding: 1%;
  border: solid;
  border-width: 2px;
  border-color: rgb(173, 134, 83);
  border-radius: 10px;
}

